
*{
  margin:0
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lavender;
}
.main{
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
button{
  background-color: pink;
  margin: 2px;
  height: 10vh;
  font-size: 4vh;
  width: 10vw;
  border-radius: 5px;
  border: 3px solid black;
  
}

.DelBtn, .Acbtn{
  width: 20vw;
  margin: 4px ;
  
}

input{
  height: 8vh;
  width: 40vw;
  margin: 4px;
  font-size: 5vh;
  border-radius: 5px;
}
button:hover{
  background-color: black;
  color: pink;
}